<section class="screen-height padding-80px-tb xs-padding-30px-tb sm-padding-30px-tb bg-white" id="top" *ngIf="!collectOtherInfo">
    <div class="container-fluid padding-twenty-four-left padding-twenty-four-right xs-padding-fifteen-left xs-padding-fifteen-right sm-padding-fifteen-left sm-padding-fifteen-right">
        <div class="row">
        	<div class="col-md-12 alt-font text-center">
        		<h1 class="title-large text-blue">GET STARTED FOR FREE TODAY</h1>

        		<p class="margin-top-10px text-extra-large xs-text-large sm-text-large text-medium-gray">No credit card required.</p>
        	</div>
        </div>
        <div class="row">
    		<form action="javascript:void(0)" class="col-md-12 margin-top-30px">
    			<div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-12 no-padding-left">
                		<div class="col-md-6 col-xs-12 col-sm-12">
	                    	<label class="text-small alt-font text-blue">First Name</label>
	                    	<input name="firstname" id="firstname" placeholder="First Name" class="medium-input border-radius-2" type="text" [(ngModel)]="signupDetails.firstName">
	                    </div>
                		<div class="col-md-6 col-xs-12 col-sm-12">
	                    	<label class="text-small alt-font text-blue">Last Name</label>
	                    	<input name="lastname" id="lastname" placeholder="Last Name" class="medium-input border-radius-2" type="text" [(ngModel)]="signupDetails.lastName">
	                    </div>
                		<div class="col-md-12 col-xs-12 col-sm-12">
	                    	<label class="text-small alt-font text-blue">Email Address</label>
	                    	<input name="email" id="email" data-email="required" placeholder="Email Address" class="medium-input border-radius-2" type="text" [(ngModel)]="signupDetails.email">
	                    </div>
                    </div>
    			</div>

    			<div class="text-center alt-font">
                    <button class="btn btn-extra-large bg-deep-green text-white font-weight-500 margin-top-10px" (click)="collectOtherInfo = true; init()">
                    	Try EmmetBlue
                    </button>
                </div>
    			
    			<p class="text-medium xs-text-large sm-text-large text-medium-gray text-center margin-ten-top">
    				We will never share your email without your permission. Review our <a href="#">Privacy Policy</a>
    			</p>
            </form>
        </div>
    </div>
</section>

<section class="screen-height padding-20px-tb xs-padding-30px-tb sm-padding-30px-tb bg-white" *ngIf="collectOtherInfo" id="top">
    <div class="container-fluid">
        <div class="row">
        	<div class="col-md-8 col-md-offset-2 screen-height alt-font bg-white">
        		<div class="container-fluid" *ngIf="showForm !== 'completeReg'">
	        		<h4 class="margin-top-20px text-extra-large xs-text-large sm-text-large text-medium-gray text-center">Tell us a little more about yourself to help us setup your instance of EmmetBlue</h4>
	        		<div class="row">
	        			<div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12 margin-five-top">
			        		<div class="progress">
							  <div class="progress-bar progress-bar-striped progress-bar-animated" [ngStyle]="{'width':progressPercent+'%'}"></div>
							</div>
	        			</div>
	        		</div>
        		</div>
        		<div class="container-fluid" *ngIf="showForm == 'providerType'">
	        		<div class="row margin-five-top text-center">
	        			<div class="col-md-12 text-center margin-ten-bottom">
	        				<h1 class="title-small text-blue">WHICH OF THESE ARE YOU?</h1>
	        			</div>
	            		<div class="col-md-4 col-xs-4 col-sm-4">
	                    	<!-- <label class="text-small alt-font text-blue">Hospital</label> -->
	                    	<h1 class="title-extra-large-5 xs-title-large sm-title-large-4 text-yellow-green"
	                    		[ngClass]="{'text-yellow-green': signupDetails.providerType == 'hospital', 'text-gray': signupDetails.providerType !== 'hospital'}"
	                    	>
	                    	 	<i class="far fa-hospital"></i>
	                    	</h1>
		                    
		                    <button class="btn btn-small xs-btn-very-small bg-blue text-white font-weight-300 margin-top-10px" (click)="selectProviderType('hospital')">
		                    	Hospital
		                    </button>
	                    </div>
	            		<div class="col-md-4 col-xs-4 col-sm-4">
	                    	<!-- <label class="text-small alt-font text-blue">Pharmacy</label> -->
	                    	<h1 class="title-extra-large-5 xs-title-large sm-title-large-4 text-yellow-green"
	                    		[ngClass]="{'text-yellow-green': signupDetails.providerType == 'pharmacy', 'text-gray': signupDetails.providerType !== 'pharmacy'}"
	                    	>
	                    	 	<i class="fas fa-pills"></i>
	                    	</h1>
		                    
		                    <button class="btn btn-small xs-btn-very-small bg-blue text-white font-weight-300 margin-top-10px" (click)="selectProviderType('pharmacy')">
		                    	Pharmacy
		                    </button>
	                    </div>
	            		<div class="col-md-4 col-xs-4 col-sm-4">
	                    	<!-- <label class="text-small alt-font text-blue">Laboratory</label> -->
	                    	<h1 class="title-extra-large-5 xs-title-large sm-title-large-4 text-yellow-green"
	                    		[ngClass]="{'text-yellow-green': signupDetails.providerType == 'lab', 'text-gray': signupDetails.providerType !== 'lab'}"
	                    	>
	                    	 	<i class="fas fa-flask"></i>
	                    	</h1>
		                    
		                    <button class="btn btn-small xs-btn-very-small bg-blue text-white font-weight-300 margin-top-10px" (click)="selectProviderType('lab')">
		                    	Laboratory
		                    </button>
	                    </div>
	        		</div>

			        <div class="row margin-five-top" *ngIf="showProviderType">
			    		<form action="javascript:void(0)" class="col-md-12 margin-ten-top">
			    			<div class="row">
			                    <div class="col-md-12 col-sm-12">
			                		<div class="col-md-6 col-xs-12 col-sm-6">
				                    	<label class="text-small alt-font text-blue text-transform">{{signupDetails.providerType}} Name</label>
				                    	<input name="businessname" id="businessname" placeholder="Business Name" class="medium-input border-radius-2" type="text" [(ngModel)]="signupDetails.businessName">
				                    </div>
				                    <div class="col-md-6 col-xs-12 col-sm-6">
				                    	<label class="text-small alt-font text-blue text-transform">{{signupDetails.providerType}} Location</label>
				                    	<select class="medium-select form-control" style="height: 43px" [(ngModel)]="signupDetails.businessLocation" name="businessLocation">
				        					<option disabled="">Select State</option>
				        					<option>FCT Abuja</option>
				        					<option>Kaduna</option>
				        					<option>Lagos</option>
				        					<option>Ibadan</option>
				        					<option>Port Harcourt</option>
				        					<option>Kano</option>
				        					<option>Osun</option>
				        					<option>Enugu</option>
				        					<option>Others</option>
				        				</select>
				                    </div>
			                    </div>
			    			</div>

			    			<div class="text-center alt-font">
			                    <button class="btn btn-medium bg-deep-green text-white font-weight-500 margin-top-10px" (click)="showForm = 'userRole'; setProgress(50);">
			                    	Continue
			                    </button>
			                </div>

			            </form>
			        </div>
			    </div>

			    <div class="container-fluid" *ngIf="showForm == 'userRole'">
	        		<div class="row margin-five-top text-center">
	        			<div class="col-md-12 text-center margin-ten-bottom">
	        				<h1 class="title-small text-blue">WHATS YOUR ROLE WITHIN THIS BUSINESS?</h1>
	        			</div>
	            		<div class="col-md-4 col-xs-4 col-sm-4">
	                    	<!-- <label class="text-small alt-font text-blue">Hospital</label> -->
	                    	<h1 class="title-extra-large-5 xs-title-large sm-title-large-4 text-yellow-green"
	                    		[ngClass]="{'text-yellow-green': signupDetails.userRole == 'owner', 'text-gray': signupDetails.userRole !== 'owner'}"
	                    	>
	                    	 	<i class="fas fa-user-md"></i>
	                    	</h1>
		                    
		                    <button class="btn btn-small xs-btn-very-small bg-blue text-white font-weight-300 margin-top-10px" (click)="selectUserRole('owner')">
		                    	Owner
		                    </button>
	                    </div>
	            		<div class="col-md-4 col-xs-4 col-sm-4">
	                    	<!-- <label class="text-small alt-font text-blue">Pharmacy</label> -->
	                    	<h1 class="title-extra-large-5 xs-title-large sm-title-large-4 text-yellow-green"
	                    		[ngClass]="{'text-yellow-green': signupDetails.userRole == 'manager', 'text-gray': signupDetails.userRole !== 'manager'}"
	                    	>
	                    	 	<i class="fas fa-user"></i>
	                    	</h1>
		                    
		                    <button class="btn btn-small xs-btn-very-small bg-blue text-white font-weight-300 margin-top-10px" (click)="selectUserRole('manager')">
		                    	Manager
		                    </button>
	                    </div>
	            		<div class="col-md-4 col-xs-4 col-sm-4">
	                    	<!-- <label class="text-small alt-font text-blue">Laboratory</label> -->
	                    	<h1 class="title-extra-large-5 xs-title-large sm-title-large-4 text-yellow-green"
	                    		[ngClass]="{'text-yellow-green': signupDetails.userRole == 'others', 'text-gray': signupDetails.userRole !== 'others'}"
	                    	>
	                    	 	<i class="fas fa-users"></i>
	                    	</h1>
		                    
		                    <button class="btn btn-small xs-btn-very-small bg-blue text-white font-weight-300 margin-top-10px" (click)="selectUserRole('others')">
		                    	Others
		                    </button>
	                    </div>
	        		</div>

			        <div class="row margin-five-top" *ngIf="showUserRole">
			    		<form action="javascript:void(0)" class="col-md-12 margin-ten-top">
			    			<div class="row" *ngIf="signupDetails.userRole == 'others'">
			                    <div class="col-md-12 col-sm-12">
			                		<div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-6col-sm-offset-2">
				                    	<label class="text-small alt-font text-blue text-transform">Role/Responsibility Title </label>
				                    	<input name="userroletitle" id="userroletitle" placeholder="Enter role title here" class="medium-input border-radius-2" type="text" [(ngModel)]="signupDetails.userRoleTitle">
				                    </div>
			                    </div>
			    			</div>

			    			<div class="row" *ngIf="signupDetails.userRole !== 'others'">
			                    <div class="col-md-12 col-sm-12">
			                		<div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-6col-sm-offset-2">
				                    	<label class="text-small alt-font text-blue text-transform text-center">How many staff will use Emmetblue </label>
				                    	<select class="medium-select form-control" style="height: 43px" [(ngModel)]="signupDetails.userStaffQty" name="userStaffQty">
				        					<option disabled="">Please select an option</option>
				        					<option>Only Me</option>
				        					<option>1 - 10</option>
				        					<option>11 - 30</option>
				        					<option>31 - 50</option>
				        					<option>50 and above</option>
				        				</select>
				                    </div>
			                    </div>
			    			</div>

			    			<div class="text-center alt-font">
			                    <button class="btn btn-medium bg-deep-green text-white font-weight-500 margin-top-10px" (click)="showForm = 'collectPassword';  setProgress(97);">
			                    	Continue
			                    </button>
			                </div>
			            </form>
			        </div>
			    </div>

			    <div class="container-fluid" *ngIf="showForm == 'collectPassword'">
	        		<div class="row margin-five-top">
	        			<div class="col-md-12 text-center margin-ten-bottom">
	        				<h1 class="title-small text-blue">CHOOSE A PASSWORD</h1>
	        			</div>

		    			<div class="row">
		                    <div class="col-md-8 col-md-offset-2 col-sm-12">
		                		<div class="col-md-12 col-xs-12 col-sm-12">
			                    	<label class="text-small alt-font text-blue text-transform">Password</label>
			                    	<input name="password" id="password" placeholder="Password" class="medium-input border-radius-2" type="password" [(ngModel)]="signupDetails.password">
			                    </div>
		                		<div class="col-md-12 col-xs-12 col-sm-12">
			                    	<label class="text-small alt-font text-blue text-transform">Confirm Password</label>
			                    	<input name="cpassword" id="cpassword" placeholder="Confirm Password" class="medium-input border-radius-2" type="password" [(ngModel)]="signupDetails.confirmPassword">
			                    </div>
		                    </div>
		    			</div>

			    		<div class="row">
			    			<div class="col-md-12">
			    				<div class="text-center alt-font">
				                    <button class="btn btn-medium bg-deep-green text-white font-weight-500 margin-top-10px" (click)="showForm = 'completeReg'; processReg(); setProgress(100);">
				                    	Continue
				                    </button>
				                </div>
			    			</div>
			    		</div>
	        		</div>
			    </div>

			    <div class="container-fluid" *ngIf="showForm == 'completeReg'">
			    	<div class="row margin-five-top text-center">
			    		<div class="col-md-12 text-center margin-ten-bottom">
	        				<h1 class="title-medium text-blue text-transform">Thank you for your interest in Emmetblue</h1>
	        			</div>
			    		<div class="col-md-12 text-center margin-ten-bottom" *ngIf="signupComplete == -1">
	        				<h4 class="margin-five-top text-extra-large xs-text-large sm-text-large text-medium-gray text-center">
	        					Please wait while we process your request.<br/> You would be automatically redirected in a few moments
	        				</h4>
	        				<h1 class="margin-ten-top title-extra-large-5">
	        					<i class="fa fa-spin fa-spinner"></i>
	        				</h1>
	        			</div>
			    		<div class="col-md-12 text-center margin-ten-bottom" *ngIf="signupComplete == 1">
	        				<h1 class="margin-ten-top title-extra-large-5 text-success">
	        					<i class="far fa-envelope-open"></i>
	        				</h1>
	        				<h4 class="margin-five-top text-extra-large xs-text-large sm-text-large text-medium-gray text-center">
	        					Your request has been received.<br/> Please check your email inbox for the next step.
	        				</h4>
	        			</div>
			    		<div class="col-md-12 text-center margin-ten-bottom" *ngIf="signupComplete == 0">
	        				<h1 class="margin-ten-top title-extra-large-5 text-danger">
	        					<i class="fas fa-times-circle"></i>
	        				</h1>
	        				<h4 class="margin-five-top text-extra-large xs-text-large sm-text-large text-medium-gray text-center">
	        					An error occurred.<br/> Your request could not be processed.
	        				</h4>
	        			</div>
			    	</div>
			    </div>
        	</div>
        </div>
    </div>
</section>