<section class="padding-80px-tb xs-padding-30px-tb sm-padding-30px-tb bg-light-gray2" id="top">
    <div class="container-fluid padding-twenty-four-left padding-twenty-four-right xs-padding-fifteen-left xs-padding-fifteen-right sm-padding-fifteen-left sm-padding-fifteen-right">
        <div class="row">
        	<div class="col-md-12 alt-font">
        		<h1 class="title-large text-blue">Schedule an inside look</h1>

        		<p class="margin-top-10px text-extra-large xs-text-large sm-text-large text-medium-gray">Thanks for your interest in Emmetblue, We're excited to learn more about your practice. Please select a date and time most convenient for you.</p>
        	</div>
        </div>
        <div class="row">
    		<form action="javascript:void(0)" class="col-md-12 margin-top-30px">
    			<div class="row">
                    <div class="col-md-6 col-sm-6 no-padding-left">
                    	<div class="col-md-12 col-xs-12 col-sm-12">
	                    	<label class="text-small alt-font text-blue">Preferred Date</label>
	                    	<input name="date" id="date" placeholder="Preferred Date" class="medium-input border-radius-2" type="date">
	                    </div>

	                    <div class="col-md-12 col-xs-12 col-sm-12">
	                    	<label class="text-small alt-font text-blue">Preferred Time</label>
	                    	<input name="time" id="time" placeholder="Preferred time" class="medium-input border-radius-2" type="time">
                    	</div>

                    	<div class="col-md-6 col-xs-12 col-sm-12">
	                    	<label class="text-small alt-font text-blue">First Name</label>
                    		<input name="firstname" id="firstname" placeholder="First Name" class="medium-input border-radius-2" type="text">
                    	</div>

                    	<div class="col-md-6 col-xs-12 col-sm-12">
	                    	<label class="text-small alt-font text-blue">Last Name</label>
                    		<input name="lastname" id="lastname" placeholder="Last Name" class="medium-input border-radius-2" type="text">
                    	</div>

                		<div class="col-md-12 col-xs-12 col-sm-12">
	                    	<label class="text-small alt-font text-blue">Email Address</label>
	                    	<input name="email" id="email" data-email="required" placeholder="Email Address" class="medium-input border-radius-2" type="text">
	                    </div>
	                    <div class="col-md-12 col-xs-12 col-sm-12">
	                    	<label class="text-small alt-font text-blue">Phone Number</label>
		                    <input name="phone" id="phone" placeholder="Phone Number" class="medium-input border-radius-2" type="text">
		                </div>
                    </div>
        			<div class="col-md-6 col-sm-6">
        				<div class="col-md-12 col-xs-12 col-sm-12">
	                    	<label class="text-small alt-font text-blue">Organization Name</label>
        					<input name="organization" id="organization" placeholder="Organization Name" class="medium-input border-radius-2" type="text">
        				</div>
        				<div class="col-md-12 col-xs-12 col-sm-12">
	                    	<label class="text-small alt-font text-blue">Specialty</label>
        					<select class="medium-select form-control">
	        					<option disabled="">Select Your Specialty</option>
	        					<option>General Hospital</option>
	        					<option>Community Pharmacy</option>
	        					<option>Medical Laboratory</option>
	        					<option>Multi Specialty Care Center</option>
	        					<option>Family Practice</option>
	        					<option>Urgent Care Center</option>
	        					<option>Others</option>
	        				</select>
	        			</div>

	        			<div class="col-md-12 col-xs-12 col-sm-12">
	                    	<label class="text-small alt-font text-blue">State</label>
	        				<select class="medium-select form-control">
	        					<option disabled="">Select State</option>
	        					<option>FCT Abuja</option>
	        					<option>Kaduna</option>
	        					<option>Lagos</option>
	        					<option>Ibadan</option>
	        					<option>Port Harcourt</option>
	        					<option>Kano</option>
	        					<option>Osun</option>
	        					<option>Enugu</option>
	        					<option>Others</option>
	        				</select>
	        			</div>
	        			<div class="col-md-12 col-xs-12 col-sm-12">
	                    	<label class="text-medium alt-font text-blue"># of physicians in your organization</label>
	                    	<select class="medium-select form-control">
	        					<option disabled="">Select a value</option>
	        					<option>1 - 6</option>
	        					<option>7  - 20</option>
	        					<option>21 - 150</option>
	        					<option>150 or more</option>
	        					<option>Not Applicable</option>
	        				</select>
	                    </div>
        			</div>
    			</div>
    			
    			<p class="margin-top-10px text-medium xs-text-large sm-text-large text-medium-gray">
    				We will never share your email without your permission. Review our <a href="#">Privacy Policy</a>
    			</p>

    			<div class="xs-text-center sm-pull-right pull-right alt-font">
                    <button class="btn btn-extra-large2 bg-deep-green text-white font-weight-500 margin-five-top">
                    	Submit &nbsp;&nbsp;<span class="pull-right"><i class="fa fa-angle-right"></i></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>