<section class="screen-height padding-80px-tb xs-padding-30px-tb sm-padding-30px-tb bg-white" id="top">
    <div class="container-fluid padding-twenty-four-left padding-twenty-four-right xs-padding-fifteen-left xs-padding-fifteen-right sm-padding-fifteen-left sm-padding-fifteen-right">
        <div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form id='payform' onsubmit='return false;' method='POST' action='https://voguepay.com/pay/'>
				    <input type='hidden' name='v_merchant_id' value='8971-0066353' />
				    <input type='hidden' name='merchant_ref' value='' />
				    <input type='hidden' name='memo' value='TELL ME WHAT TITLE TO PUT HERE' />

				    <input type='number' name='total' placeholder='Enter amount here'  class="medium-input border-radius-2 col-md-12"/>

				    <input type='text' name='name' placeholder='Your name' class="medium-input border-radius-2 col-md-6"/>
				    <input type='text' name='address' placeholder='Your Address' class="medium-input border-radius-2 col-md-6"/>
				    <input type='hidden' name='city' value='Customer City' class="medium-input border-radius-2 col-md-12"/>
				    <input type='hidden' name='state' value='Customer State' class="medium-input border-radius-2 col-md-12"/>
				    <input type='hidden' name='zipcode' value='Customer Zip/Post Code' class="medium-input border-radius-2 col-md-12"/>
				    <input type='text' name='email' placeholder='Your email' class="medium-input border-radius-2 col-md-6"/>
				    <input type='text' name='phone' placeholder= 'Your phone number ' class="medium-input border-radius-2 col-md-6"/>
				    <!-- <input type='image' src='https://voguepay.com/images/buttons/buynow_blue.png' alt='Submit' /> -->
				    <div class="text-center alt-font">
	                    <button class="btn btn-medium bg-deep-green text-white font-weight-500 margin-top-10px" type="submit">
	                    	CONTINUE
	                    </button>
	                </div>
				</form>
			</div>
		</div>
	</div>
</section>
