
.hero .navbar{
  box-shadow: none;
}
//Logo image size style
.navbar-wrapper .navbar-brand, .navbar-wrapper.navbar-faded{
    img.dark-logo, img.light-logo{
      max-height: 3.75rem;
    }
    img{
    height: 45px;
    }
}

.navbar-wrapper.navbar-faded .navbar-brand img{
  height: 45px;
}

//Hero Caption text
.hero-caption .title.big-landing-title{
  font-size: 2.4rem;
 }
//Hero theme  gradient
.hero.is-theme-primary, .section.is-theme-primary{
  background-image: linear-gradient(45deg, $deepblue, $skyblue);
}


@media screen and (min-width: 1024px){
  .navbar>.container {
    justify-content: space-between;
    .navbar-menu, .container>.navbar .navbar-menu{
      flex-grow: 0;
      .navbar-start{
        justify-content: flex-end!important;
        a{
          font-size: 15px;
        }
        }
    }
  }

}
