<header class="header-style1">
    <!-- nav -->
    <nav class="navbar yamm bg-white tz-header-bg no-margin alt-font shrink-header light-header no-padding-bottom">
        <div class="container navigation-menu margin-right-25px width-95">
          <div class="row margin-top-minus-20px margin-bottom-15px hidden-xs hidden-sm" id="header-topmost-callout">
            <div class="col-md-12">
              <div class="btn-group pull-right" role="group" aria-label="...">
                <a href="#" routerLink="/get-started" class="btn btn-medium btn-primary border-radius-0 font-weight-500 text-medium">
                  FREE TRIAL 
                </a>
                <button type="button" routerLink="/schedule-meeting" class="btn btn-medium btn-gray border-radius-0 border-right">
                  <i class="fa fa-address-book"></i> Schedule a 1:1 Meeting 
                </button>
                <button type="button" class="btn btn-medium btn-gray border-radius-0 border-right">
                  <i class="fa fa-phone-volume"></i> Contact Us &nbsp; <span class="letter-spacing-1">+234(0) 708 080 7085</span>
                </button>
                <button type="button" class="btn btn-medium btn-gray border-radius-0"> <i class="fa fa-lock"></i>  Client Login</button>
              </div>
            </div>
          </div>
          <div class="row">
              <!-- logo -->
              <div class="col-md-3 col-sm-4 col-xs-9">
                  <a href="#" routerLink="/" class="inner-link"><img alt="" src="assets/images/logo.png" class="brand-logo"></a>
              </div>
              <!-- end logo -->
              <div class="col-md-9 col-sm-8 col-xs-3 position-inherit">
                  <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse pull-right">
                      <ul class="nav navbar-nav font-weight-500">
                          <li class="no-margin-bottom border-tb-gradient dropdown">
                            <a class="text-blue dropdown-toggle" data-toggle="dropdown" href="#"> Services <span class="visible-xs visible-sm pull-right"><i class="fa fa-angle-down"></i></span></a>
                            <ul class="dropdown-menu no-padding no-margin">
                              <li class="height-100 no-margin no-padding">
                                <div class="height-100 no-margin">
                                  <div class="col-md-5 hidden-xs hidden-sm height-100 no-margin column-feature-parent">
                                    <div class="column-feature">
                                      <div class="column-feature-content">
                                        <h5 class="text-white alt-font letter-spacing-2">Emmetblue</h5>
                                        <h3 class="text-white">Learn More About Our<br/> Products and Services</h3>
                                        <img src="assets/images/vectors/fpo_navfeature_computer.png" class="margin-top-15px margin-bottom-25px"/>
                                        <br/>
                                        <button class="btn btn-extra-large2 bg-yellow-green text-white font-weight-500">Explore Our Services</button>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-7 col-xs-12 col-sm-12 column-feature-neighbor md-margin-top-50px">
                                    <div class="row">
                                      <div class="container">
                                        <div class="col-md-6 col-xs-12 col-sm-12">
                                          <h5 class="title-small xs-text-large sm-text-large text-light-gray2">For Medical Groups and Practices</h5>
                                          <div class="margin-top-15px">
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-extra-large font-weight-600">
                                                Electronic Health Records 
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-extra-large font-weight-600">
                                                Medical Billing 
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-extra-large font-weight-600">
                                                Patient Engagement 
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-extra-large font-weight-600">
                                                Order Transmission 
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                          </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12 col-sm-12">
                                          <h5 class="title-small xs-text-large sm-text-large text-light-gray2">For Hospitals and Healthcare Providers</h5>
                                          <div class="margin-top-15px">
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-large font-weight-600">
                                                Electronic Health Records 
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-large font-weight-600">
                                                Revenue Cycle Management 
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-large font-weight-600">
                                                Care Coordination
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-large font-weight-600">
                                                Population Health 
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li class="no-margin-bottom border-tb-gradient dropdown">
                            <a class="text-blue dropdown-toggle" data-toggle="dropdown" href="#"> Solutions <span class="visible-xs visible-sm pull-right"><i class="fa fa-angle-down"></i></span></a>
                            <ul class="dropdown-menu no-padding no-margin">
                              <li class="height-100 no-margin no-padding">
                                <div class="height-100 no-margin">
                                  <div class="col-md-5 hidden-xs hidden-sm height-100 no-margin column-feature-parent">
                                    <div class="column-feature">
                                      <div class="column-feature-content">
                                        <h3 class="text-white alt-font letter-spacing-2 margin-top-80px">Industry Solutions</h3>
                                        <h6 class="text-white">
                                          Integrated health care solutions for<br/> medical groups and practices.
                                        </h6>
                                        <br/>
                                        <button class="btn btn-extra-large2 bg-yellow-green text-white font-weight-500">
                                          Find Your Industry <i class="fa fa-angle-right"></i>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-7 column-feature-neighbor md-margin-top-50px">
                                    <div class="row">
                                      <div class="container">
                                        <div class="col-md-6 col-xs-12 col-sm-12">
                                          <div class="">
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-extra-large font-weight-600">
                                                Medical Groups &amp; Practices 
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-extra-large font-weight-600">
                                                Medical Specialties 
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-extra-large font-weight-600">
                                                Emmetblue Cloud 
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-extra-large font-weight-600">
                                                Urgent Care Centers
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                          </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12 col-sm-12">
                                          <div class="margin-top-15px">
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-large font-weight-600">
                                                Community Hospitals
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-large font-weight-600">
                                                Pharmacies 
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-large font-weight-600">
                                                Healthcare Laboratoraties
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-large font-weight-600">
                                                Academic Medical Centers 
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li class="no-margin-bottom border-tb-gradient dropdown">
                            <a class="text-blue dropdown-toggle" data-toggle="dropdown" href="#"> Resources <span class="visible-xs visible-sm pull-right"><i class="fa fa-angle-down"></i></span></a>
                            <ul class="dropdown-menu no-padding no-margin">
                              <li class="height-100 no-margin no-padding">
                                <div class="height-100 no-margin">
                                  <div class="col-md-5 hidden-xs hidden-sm height-100 no-margin column-feature-parent">
                                    <div class="column-feature">
                                      <div class="column-feature-content">
                                        <h4 class="text-white alt-font letter-spacing-2 margin-top-50px">The power of our network</h4>
                                        <br/>
                                        <h6 class="text-white">
                                          We tap into our network data to<br/> improve provider performance, track<br/> public health trends, and more.
                                        </h6>
                                        <br/>
                                        <button class="btn btn-extra-large2 bg-yellow-green text-white font-weight-500">
                                          Explore our data <i class="fa fa-angle-right"></i>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-7 column-feature-neighbor md-margin-top-50px">
                                    <div class="row">
                                      <div class="container">
                                        <div class="col-md-6 col-xs-12 col-sm-12">
                                        <h5 class="title-small xs-text-large sm-text-large text-light-gray2">Insights &amp; Resources</h5>
                                          <div class="margin-top-15px">
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-extra-large font-weight-600">
                                                Industry Knowledge Hubs 
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-extra-large font-weight-600">
                                                Revenue Calculator 
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-extra-large font-weight-600">
                                                Emmetblue School 
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-extra-large font-weight-600">
                                                Around The Community
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                          </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12 col-sm-12">
                                        <h5 class="title-small xs-text-large sm-text-large text-light-gray2">Developer Resources</h5>
                                          <div class="margin-top-15px">
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-large font-weight-600">
                                                Getting Started
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-large font-weight-600">
                                                API Documentation
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-large font-weight-600">
                                                Hackathons &amp; Community Events
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-large font-weight-600">
                                                Read Our Whitepapers
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li class="no-margin-bottom border-tb-gradient dropdown">
                            <a class="text-blue dropdown-toggle" data-toggle="dropdown" href="#"> About <span class="visible-xs visible-sm pull-right"><i class="fa fa-angle-down"></i></span></a>
                            <ul class="dropdown-menu no-padding no-margin">
                              <li class="height-100 no-margin no-padding">
                                <div class="height-100 no-margin">
                                  <div class="col-md-5 hidden-xs hidden-sm height-100 no-margin column-feature-parent">
                                    <div class="column-feature bg-yellow-green">
                                      <div class="column-feature-content">
                                        <h3 class="text-white alt-font letter-spacing-2 margin-top-50px">About Emmetblue</h3>
                                        <br/>
                                        <h6 class="text-white">
                                          At Emmetblue, we put people first. From<br/>  our employees to the clients we <br/>serve, people drive everything we do.
                                        </h6>
                                        <br/>
                                        <button class="btn btn-extra-large2 bg-theme-blue text-white font-weight-500">
                                          Learn more about us &nbsp;<i class="fa fa-angle-right"></i>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-7 column-feature-neighbor md-margin-top-50px">
                                    <div class="row">
                                      <div class="container">
                                        <div class="col-md-6 col-xs-12 col-sm-12">
                                        <h5 class="title-small xs-text-large sm-text-large text-light-gray2">Our Company</h5>
                                          <div class="margin-top-15px">
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-extra-large font-weight-600">
                                                Events 
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-extra-large font-weight-600">
                                                Careers
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-extra-large font-weight-600">
                                                Newsroom 
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                            <p class="border-bottom border-deep-green padding-bottom-5px">
                                              <a href="#" class="text-yellow-green text-extra-large font-weight-600">
                                                Our blog
                                                <span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span>
                                              </a>
                                            </p>
                                          </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12 col-sm-12">
                                          <img src="assets/images/logo-icon-blue.png"/>
                                          <p class="font-handwritten text-dark-blue title-large text-center">Automating healthcare delivery</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li class="no-margin-bottom border-tb-gradient" style="background-color: #BACA33; border-top-right-radius: 100px;" id="top-menu-try-emmetblue">
                            <a class="text-white alt-font" href="" routerLink="/get-started"> TRY EMMETBLUE <span class="visible-xs visible-sm pull-right"><i class="fa fa-angle-down"></i></span></a>
                          </li>
                          <li class=" margin-top-minus-20px margin-bottom-15px visible-sm visible-xs">
                            <div class="row">
                              <div class="col-md-12">
                                <div role="group" aria-label="...">
                                  <a href="#" routerLink="/schedule-meeting" class="btn btn-medium btn-primary border-radius-5 col-xs-12 font-weight-500 text-small" style="color: #fff !important; font-size: 16px !important">
                                    Schedule a 1:1 Meeting <span class="pull-right">&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span>
                                  </a>
                                  <br/><br/>
                                  <button type="button" class="pull-left btn btn-medium btn-link border-radius-0 border-right text-small text-yellow-green">
                                    Contact Us &nbsp; 
                                    <span class="letter-spacing-1">+234(0) 708 080 7085</span>
                                  </button>
                                  <br/>
                                  <button type="button" class="pull-left btn btn-medium btn-link border-radius-0 text-small text-yellow-green"> 
                                    <i class="fa fa-lock"></i>  Client Login
                                  </button>
                                </div>
                              </div>
                            </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
        </div>
    </nav> 
    <!-- end nav -->
</header>

<div class="content-container margin-top-125px xs-no-margin-top">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>

<footer id="footer-section13" class="bg-theme-blue padding-40px-top xs-padding-40px-tb builder-bg">
    <div class="container">
        <div class="row">
            <!-- caption -->
            <div class="col-md-10 col-sm-8 col-xs-12 pull-left sm-margin-five-bottom">
                <div class="tz-text text-medium sm-text-small xs-text-small sm-margin-two-bottom">
                  <p class='no-margin-bottom text-white'>
                    <span>Privacy Policy</span> |&nbsp;
                    <span>Terms of use</span> |&nbsp;
                    <span>Disclaimers</span> |&nbsp;
                    <span>Contact Us</span>
                  </p>
                  <p class="text-light-gray">&copy; Copyright 2018 Emmetblue. All Rights Reserved</p>
                </div>
            </div>
            <!-- end caption -->
            <!-- logo -->
            <div class="col-md-2 col-sm-4 col-xs-12 sm-text-center sm-margin-three-bottom">
                <a href="#home" class="text-center"><img src="assets/images/logo-white.png" alt="Emmetblue" class="sm-width-80 xs-width-60"></a>
            </div>
            <!-- end logo -->
        </div>
    </div>
</footer>