<nav class="navbar navbar-wrapper navbar-fade navbar-light is-transparent">
  <div class="container">
    <!-- Brand -->
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img class="light-logo" src="assets/images/logo.png" alt="">
        <img class="dark-logo" src="assets/images/logo.png" alt="">
      </a>

      <!-- Sidebar Trigger -->
      <a id="navigation-trigger" class="navbar-item hamburger-btn navbar-end" href="javascript:void(0);">
        <span class="menu-toggle is-hidden-mobile">
          <span class="icon-box-toggle">
            <span class="rotate">
              <i class="icon-line-top"></i>
              <i class="icon-line-center"></i>
              <i class="icon-line-bottom"></i>
            </span>
          </span>
        </span>
      </a>

      <!-- Responsive toggle -->
      <div class="custom-burger" data-target="">
        <a id="" class="responsive-btn" href="javascript:void(0);">
          <span class="menu-toggle">
            <span class="icon-box-toggle">
              <span class="rotate">
                <i class="icon-line-top"></i>
                <i class="icon-line-center"></i>
                <i class="icon-line-bottom"></i>
              </span>
            </span>
          </span>
        </a>
      </div>
      <!-- /Responsive toggle -->
    </div>

    <!-- Navbar menu -->
    <div class="navbar-menu">
      <!-- Navbar Start -->
      <div class="navbar-end">
        <!-- Navbar item -->
        <a class="navbar-item is-slide" href="#">
          Home
        </a>
        <a class="navbar-item is-slide" href="#core-feature">
          Core Features
        </a>
        <a class="navbar-item is-slide" href="#modules">
          Modules
        </a>
        <a class="navbar-item is-slide" href="#partners">
          Partners
        </a>
        <a class="navbar-item is-slide" href="get-a-quote">
          Pricing
        </a>
      </div>


    </div>
  </div>
</nav>
<div class="middle">

  <h3 style="margin-bottom: 2em;">Thank you for your interest in Emmetblue.<br/> Please fill the form below to schedule a demo with an Emmetblue sales representative.</h3>
  <div [attr.data-aidaform-widget]="'form-2019-12'" [attr.data-url]="'https://myclinicng.aidaform.com/pro-account-template-contact-form-with-captcha'" [attr.data-width]="'100%'" [attr.data-height]="'100vh'" [attr.data-do-resize] [attr.data-do-scroll] [attr.data-scroll-gap]="7"></div>
</div>
