<section class="cover-background border-none bg-img-one hidden-xs hidden-sm" style="background:url('assets/images/bg-image/banner.jpg')">
    <div class="container one-second-screen position-relative xs-height-200-px">
        <div class="row">
            <div class="slider-typography xs-position-static">
                <div class="slider-text-middle-main">
                    <div class="slider-text-middle text-left">
                        <!-- logo -->
                        <div class="padding-50px-tb border-radius-20 bg-white-light-rgba col-lg-6 col-md-8 col-sm-12 col-xs-12 text-center float-right">
                            <h2 class="tz-text alt-font text-blue title-extra-large xs-title-extra-large font-weight-700">At Emmetblue, we free<br/> you up to focus on what<br/> matters most.</h2>
	                        <a href="#" routerLink="/schedule-meeting" class="btn btn-extra-large2 bg-theme-blue text-white font-weight-500 margin-seven-top">
	                        	View a short demo &nbsp;&nbsp;<span class="pull-right"><i class="fa fa-angle-right"></i></span>
	                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="visible-xs visible-sm">
	<section class="cover-background border-none bg-img-one" id="home" style="background:url('assets/images/bg-image/banner-mobile.jpg')">
    	<div class="container one-second-screen position-relative xs-height-300-px"></div>		
	</section>

	<section class="padding-50px-tb bg-white border-none">
	    <div class="container one-second-screen position-relative xs-height-auto">
	        <div class="row">
	            <div class="slider-typography xs-position-static">
	                <div class="slider-text-middle-main">
	                    <div class="slider-text-middle text-left">
	                        <!-- logo -->
	                        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 text-center float-right">
	                            <h2 class="tz-text alt-font text-blue title-extra-large xs-title-extra-large">At Emmetblue, we free<br/> you up to focus on what<br/> matters most.</h2>
		                        <a href="#" routerLink="/schedule-meeting" class="btn btn-extra-large2 bg-theme-blue text-white font-weight-500 margin-seven-top">
		                        	View a short demo &nbsp;&nbsp;<span class="pull-right"><i class="fa fa-angle-right"></i></span>
		                        </a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
</div>

<section class="padding-80px-tb xs-padding-80px-tb bg-gray">
    <div class="container">
        <div class="row equalize">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="display-block sm-display-block vertical-align-middle margin-five-right sm-no-margin-right sm-margin-ten-bottom margin-10-bottom tz-text alt-font text-dark-gray title-medium sm-title-medium xs-title-medium font-weight-500 line-height-40">
                	Track, manage and optimize financial &amp; administrative processes with Emmetblue.
                    <br/> Deliver better patient care, <span class="padding-one-half main-font"> take full control </span> of your healthcare business.
                </div>
                <br/>
                <a class="btn-extra-large btn text-white highlight-button-theme-blue-border border-radius-6" href="#" routerLink="#"><span class="tz-text">See how</span></a>
            </div>
        </div>
    </div>
</section>

<section class="bg-white border-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-sm-8 col-xs-12 display-table">
                <div class="display-table-cell-vertical-top padding-nine md-padding-seven xs-no-padding-lr xs-padding-twenty-three xs-no-padding-bottom xs-text-center">
                    <h2 class="title-extra-large xs-title-extra-large line-height-50 text-yellow-green letter-spacing-minus-1 width-90 md-width-100 margin-five-bottom tz-text sm-margin-ten-bottom xs-margin-ten-bottom alt-font">Our EHR helps you focus on the work that matters most.</h2>
                    <h3 class="margin-top-15px text-dark-gray title-large xs-title-medium alt-font margin-five-bottom">Take it out on a dry-run, no commitments required</h3>
                    <p class="text-gray text-large font-weight-200">See for yourself how our streamlined EHR saves time, helps you satisfy quality measures, and removes distractions that gets in the way of care.</p>
                </div>
                <div class="padding-left-30px xs-padding-left-80px sm-padding-left-250px">
                   <a href="#" routerLink="/schedule-meeting" class="btn btn-extra-large2 btn-primary text-white font-weight-500">
                        Ready, go &nbsp;&nbsp;<span class="pull-right"><i class="fa fa-play-circle"></i></span>
                    </a>
                </div>
            </div>                        
            <div class="col-md-5 col-sm-4 xs-12 xs-text-center display-table sm-height-400-px xs-height-300-px md-padding-nine-top">
                <div class="display-table-cell-vertical-middle">
                    <img alt="" src="assets/images/bg-image/screenshot-view.png">
                </div>
            </div>
        </div>
    </div>
</section> 

<section class="margin-seven-top">
    <div class="container-fluid padding-left-right-130px xs-padding-15-lr sm-padding-15-lr alt-font">
        <div class="row feature-tiles">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="feature-tile bg-deep-blue">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-extra-large text-white text-center">An Easy to use &amp; customizable EHR</h3>
                            <p class="text-large text-center margin-ten">With our web based interfaces and mobile apps, your healthcare workflow will be focused entirely on what matters most, your patients.</p>

                            <div class="text-center">
                                <a href="#" routerLink="/schedule-meeting" class="btn btn-extra-large bg-black-light-rgba text-white font-weight-500 margin-seven-top">
                                    Check it out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="feature-tile bg-deep-green">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-extra-large text-white text-center">Built for the healthcare industry.</h3>
                            <p class="text-large text-center margin-ten">For pharmacies, laboratories, and hospitals.<br/> As long as you are involved in the life-saving business, Emmetblue is right for you.</p>

                            <div class="text-center">
                                <a href="#" routerLink="/schedule-meeting" class="btn btn-extra-large bg-black-light-rgba text-white font-weight-500 margin-seven-top">
                                    Get started for free
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="feature-tile bg-rosy-brown">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-extra-large text-white text-center">Improve your financial performance</h3>
                            <p class="text-large text-center margin-ten">Get an inside-look today to see how we use AI-driven, smart analytics dashboards to improve the financial fortune of other practices like yours.</p>

                            <div class="text-center">
                                <button class="btn btn-extra-large bg-black-light-rgba text-white font-weight-500 margin-seven-top">
                                    Learn more
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="feature-tile bg-sky-blue col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-extra-large text-white text-center">Emmetblue Cloud</h3>
                            <p class="text-large text-center margin-ten">A connected patient is a satisfied consumer.<br/> With Emmetblue Cloud, we've redefined what technology can do for your patients and your productivity.</p>

                            <div class="text-center">
                                <button class="btn btn-extra-large bg-black-light-rgba text-white font-weight-500 margin-seven-top">
                                    See for yourself
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="feature-tile bg-light-green">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <h3 class="title-extra-large text-white text-center">Be a part of the solution</h3>
                            <p class="text-large text-center margin-ten">We are brave enough to look at africa's healthcare problem in the face by creating a future where Healthcare is interconnected. <br/>Join us in making this future a reality.</p>

                            <div class="text-center">
                                <button class="btn btn-extra-large bg-black-light-rgba text-white font-weight-500 margin-seven-top">
                                    See how
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                            <div class="margin-fifteen-top border-radius-6 border-2-light-gray-2 padding-fifteen">
                                <h4 class="text-white text-center title-medium font-weight-600">Fact from the network</h4>
                                <br/>
                                <p class="text-large text-center main-font">Some Nigerian healthcare fact here, something that will persuade a click</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="feature-tile bg-middle-gray">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h3 class="title-extra-large text-deep-blue sm-text-center xs-text-center">Choose a strategy thats right for you</h3>
                            <p class="text-large margin-five-top text-blue sm-text-center xs-text-center">Deploying technology in africa doesnt have to be a risk. We understand the factors causing this and we've employed years of groundbreaking research to provide you with technology that will stand the test of time.</p>

                            <div class="text-center">
                                <span class="col-md-4 col-sm-4 col-xs-4">
                                    <h1 class="text-deep-green"><i class="fa fa-server"></i></h1>
                                </span>
                                <span class="col-md-4 col-sm-4 col-xs-4">
                                    <h1 class="text-deep-green"><i class="fa fa-cloud"></i></h1>
                                </span>
                                <span class="col-md-4 col-sm-4 col-xs-4">
                                    <h1 class="text-deep-green"><i class="fa fa-laptop"></i></h1>
                                </span>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-extra-large bg-black-light-rgba text-white font-weight-500 margin-seven-top margin-five-bottom">
                                    Explore our deployment models
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="feature-tile bg-deep-blue col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-extra-large text-white text-center">Make your voice heard too</h3>
                            <p class="text-large text-center margin-five">
                                Join an active community of people who wants to see the health-tech industry in africa revolutionised.<br/>
                                <span class="text-small">
                                    Read our whitepapers and publish yours while we expose you to the thousands of people who matter.
                                </span>
                            </p>

                            <div class="text-center">
                                <button class="btn btn-extra-large bg-black-light-rgba text-white font-weight-500 margin-seven-top">
                                    Get involved
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="margin-seven-top margin-seven-bottom border-none">
    <div class="container-fluid padding-left-right-50px xs-padding-15-lr sm-padding-15-lr alt-font">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                           <div class="xs-text-center sm-text-center">
                                <a href="#" routerLink="/schedule-meeting" class="btn btn-extra-large3 border-radius-10 text-extra-large sm-title-medium xs-title-medium bg-theme-blue text-white font-weight-500">
                                    Request a live demo &nbsp;<i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 margin-three-top">
                            <p class="text-blue xs-text-center sm-text-center title-medium sm-title-medium xs-title-medium padding-one-half pull-right"> or call 070 8080 7085</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>